<!-- <button class="btn pull-right btn-primary btn-sm"> Add Selected Problem(s) to collection</button> -->
<div class="dropdown pull-right" id="collection-dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add Selected Problem(s) to collection
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  	<% unless @collections.blank? %>
  		<% @collections.each do |collection| %>
  			<li class="collection_row" data-collection-id="<%= collection.id %>">
  				<a href="#"> 
            <p style="font-weight:500;margin-bottom: 0;"><%= collection.name %> </p>
            <p style="color:#999;"><span> Questions: <%= collection.problems.size()%></span> 
              &nbsp;&nbsp;&nbsp; 
              <span> Students: <%= collection.students.size()%></span></p>

          </a>
  			</li>
  		<% end %>
  	<% else %>
  		<li class="dropdown-header"> 
  			No Collections are Available
  		</li>
  	<% end %>
  </ul>
</div>