<table class="table table-bordered table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th>Number</th>
	   	<th>Question</th>
	   	<th>Source</th>
	</tr>
	</thead>
	<tbody>
		<% @problems.each do |p| %>
			<tr>
				<td><%= p.number %></td>
				<td><%= p.question %></td>
				<td><%= p.source.name %></td>
			</tr>	
		<% end %>
	</tbody>
</table>
