<div class="row search-result">
	<div class="col-md-12">
		<div class="title pull-left">
			<h3 class="box-title"> Topics </h3>
		</div>
	</div>
</div>
<table  class="table table-bordered table-condensed table-hover table-striped">
	<thead>
	<tr>
		<th>Topics</th>
	   	<th># of Question</th>
	</tr>
	</thead>
	<tbody>
		<% unless (@topics.blank?) %>
			<% @topics.each do |p| %>
				<tr class="question_row">
					<td><%= p.name %></td>
					<td><a href="#" class="problems_in_topic" data-product-id="<%= p.id %>"><%= p.problems_count %></a></td>
				</tr>	
			<% end %>
		<% else %>
			<tr> 
				<td></td> 
				<td class="text-center" >No Topics availble </td>
				<td></td>
			</tr>
		<% end %>
	</tbody>
</table>