<tr class="collection_row">	
	<td><a href="#" class="collection-data" data-collection-id="<%= @collection.id %>"><%= @collection.name %></a></td>
	<td></td>
	<td class="text-center">
		<a href="#"> <i class="fa fa-pencil"> </i></a> | 
		<a href="#"> <i class="fa fa-trash"> </i></a>
	</td>
</tr>