<div id="app-container"></div>
<div class="container">
	<h2> Search Problems </h2>
	<div class="row">
		<div class="col-md-2 form-group">
			<label for="subject">Subject</label>
			<%= select_tag :subject, options_from_collection_for_select(@subject,"id","name",
		@subject.first.id), {:class => 'select2'} %>
		</div>
		<div class="col-md-3 form-group">
			<label for="source">Source</label>
			<%= select_tag :source, options_from_collection_for_select(@sources,"id","name",
		@sources.first.id), {:class => 'select2'} %>
		</div>
		<div class="col-md-5 form-group">
			<label for="tags">Tags</label>
			<%= select_tag :tags, options_from_collection_for_select(@tags,"id","name"), {:multiple => :multiple, :class => 'select2' } %>
		</div>
		<div class="col-md-2 form-group">
			<label> . </label>
			<input type="button" value="search" class="btn btn-primary col-md-12" id="search"/>
		</div >
	</div>

	<div class="table-container">
		<%= render 'table' %>
	</div>
</div>

<script>
$(document).ready(function(){
	$('.select2').select2()

	$('#search').on('click', function () {
		$.ajax({
			url: "/get_problems",
			type: 'POST',
			data: {
				"source_id": $("#source").val(),
				"tag_id": $('#tags').val()
			}, 
			success: function(result){
	        	$('.table-container').html(result);
	    	}
	  	});
	})

	$('#subject').on('change', function(e) {
		var id = parseInt($(this).val())
		$.ajax({
			url: "/tags", data: {"id": id}, 
			success: function(result){
	        console.log(result);

	        var tag_options = [], source_option = [];
	        $.each(result.sources, function(i, obj) {
	        	source_option.push("<option value=" + obj.id+">" +obj.name +"</option>" )
	        })

			$('#source').html(source_option.join("")).select2('destroy').select2();


	        $.each(result.tags, function(i, obj) {
	        	tag_options.push("<option value=" + obj.id+">" +obj.name +"</option>" )
	        })

			$('#tags').html(tag_options.join("")).select2('destroy').select2();
	    }});
	})
})
</script>