::-webkit-scrollbar {
    display: none;
}

body {
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}

.correct {
    background-color: #dff0d8;
}

.raw-input textarea {
    height: 2000px !important;
}

.preserve-newlines {
    white-space: pre;
}


.problems-table {
    th.source {
        width: 25%;
    }
    th.number {
        width: 5%;
    }
    th.question {
        width: 60%;
    }
    th.edit {
        width: 5%;
    }
    th.delete {
        width: 5%;
    }
}

.sources_table {
    th.subject {
        width: 10%;
    }
    th.source_name {
        width: 30%;
    }
    th.level, th.publication_date, th.view_pdf {
        width: 20%;
    }
}

/*flash*/
.alert {
  margin-top: 40px;
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }