
body {
  /*padding-top: 70px;*/
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}

.box.main-content {
    min-height: 600px;
}
.box-body.body-content {
    margin-top: 20px;
}
aside.main-sidebar, aside.left-side {
    padding-top: 0;
}

span.select2-container .select2-selection--single .select2-selection__rendered {
        margin-top: -7px;
}

span.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #333;
}

.container label {
    font-weight: 200;
    color: #aaa;
}

.container h2 {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 20px;
}

.search-result {
    margin-bottom: 10px;
    h3 {
        margin: 0;
        font-weight: 200;
    }
}

.no_data_row {
    height: 100px;
    padding: 35px !important;
}
select {
    width: 100%
}

.navbar-header {
    .navbar-brand {
        padding: 0 15px;
        img {
            height: 50px
        }
    }
}

.login-logo {
    margin: 50px 0;
    img {
        width: 200px;
    }
}

.login-screen.col-md-4 {
    border: 1px solid #ccc;
    border-top: 5px solid #00BCD4;
    padding: 0 20px 20px;
    border-radius: 5px;
    margin-top: 20px;

    h2 {
        font-size: 26px;
        font-weight: 400;
    }
    label {
       font-weight: 400; 
    }
}

.tag-search-results {
    border: 1px solid rgb(102, 102, 255);
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.tag-groups-container {
  max-height: 400px;
  overflow-y: auto;
}

.tag-type-dropdown {
    width: 100%;
}

.tagger-modal-inactive {
    display: none;
}

.tagger-modal-active {
    display: block;
}

.tagger-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.tagger-modal-content {
    background-color: white;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    input {
        width: 100%;
        padding: 10px;
    }

    button {
        //width: 100%;
    }
}

a {
    cursor: pointer;
    color: blue;
}

.pseudo-link {
    color: #337ab7;
    cursor: pointer;

}

a.margined-a {
   margin: 10px !important;
}

a.save {
    color: green !important;
}
.tag-list-group {
    margin: 0px !important;
}

.tag-panel-body {
    padding: 0px !important;
    //outline: 1px solid black;
    background-color: rgb(250,250,250);
}

.tag-list-item {
    background-color:  rgb(250,250,250) !important;
    padding-bottom: 0px !important;
    border: none;
    outline: none;
    padding-top: 2px !important;
    input {
        // border: none !important;
        // outline: none !important;
    }
}


.tag-list-item {
  &.edit-action-tag-relationship {
    outline: 1px solid rgb(200,200,200);
    border: none;
  }
}

.tag-list-item.edit-topic-tag {
  //outline: 1px solid rgb(240,240,240);
  border: none;
}

.new-tag-or-not.old-tag {
    color: rgb(150, 150, 150);
}
.new-tag-or-not.new-tag {
    color: green;
}

.tag-search-result-hovered {
    background-color: rgb(102, 102, 255);
    color: white;
}
.tag-search-result {
    padding: 5px;
}

.tag-description {
    width: 100%;

    height: 50px;
    //outline: none;
    //border: none;
}

.tag-description, .tag-search-input {
    outline: none;
    border: 1px solid rgb(200,200,200)
}

.tag-search-input {
    width: 100%;
}

.correct {
    background-color: #dff0d8;
}

.associated-content-indicator {
    button {
        min-width: 100px;
    }
}

.raw-input textarea {
    height: 2000px !important;
}

.alert-line {
    display: block;
}


.preserve-newlines {
    white-space: pre-wrap;
}


.mathjax-cheatsheet {
    td {padding-left: 60px !important;}
}


.problems-table {
    th.source {
        width: 15%;
    }
    th.section {
        width: 15%;
    }
    th.number {
        width: 5%;
    }
    th.question {
        width: 35%;
    }
    th.edit {
        width: 5%;
    }
    th.delete {
        width: 5%;
    }
}

.sources_table {
    th.subject {
        width: 20%;
    }
    th.source_name {
        width: 45%;
    }
    th.level, th.publication_date {
        width: 10%;
    }
    th.view_pdf, th.view_info, th.edit_info {
        width: 5%
    }
}

/*flash*/
.alert {
  margin-top: 40px;
}
.alert.problem-tagger {
margin-top: 0px;
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .search-area {
    background-color: #eee;
    padding: 15px;
 }
