::-webkit-scrollbar {
    display: none;
}

body {
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}

.problems-table {
    th:first-child {
        width: 20%;
    }
    th:nth-child(2) {
        width: 30%;
    }
    th:nth-child(3) {
        width: 50%;
    }
}

/*flash*/
.alert {
  margin-top: 40px;
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }