-if (not current_user.low_access?) and answer_choice.correct
  - class_name = "list-group-item correct"
-else
  - class_name = "list-group-item"

%li{class: class_name}
  - if answer_choice.image.present?
    - if answer_choice.text.present?
      %p
        = answer_choice.text
    %p
      = image_tag answer_choice.image.url(:medium)
  - else
    = answer_choice.text
